<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginCookie</display-name>
    <servlet-name>LoginCookie</servlet-name>
    <servlet-class>thang.vn.cookie.LoginCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCookie</servlet-name>
    <url-pattern>/LoginCookie</url-pattern>
  </servlet-mapping>
  <display-name>Login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>thang.vn.session.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login1</display-name>
    <servlet-name>login1</servlet-name>
    <servlet-class>thang.vn.session.login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login1</servlet-name>
    <url-pattern>/login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>thang.vn.session.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2</display-name>
    <servlet-name>Login2</servlet-name>
    <servlet-class>thang.vn.session.Login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/Login2</url-pattern>
  </servlet-mapping>
</web-app>